/*Imports*/
@import url('https://fonts.googleapis.com/css2?family=Imprima&family=Press+Start+2P&family=Roboto:ital,wght@0,100;0,400;0,500;1,400&display=swap');
/*Reset All*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*Variables de Fuentes y Colores */
:root{
  --fuente_Header:'Press Start 2P', cursive;
  --fuente_titulos:  'Imprima', sans-serif;
  --fuente_body: 'Roboto', sans-serif;
  --fuente_formularios: 'Roboto', sans-serif;
}


#general_header{
  
}
#general_header:out-of-range{
  position: fixed;
}

.general_backgroundImage{
  background-image: url("img/Fondo4.png");
  background-size:cover;
}
.secequipos {
  margin-top: 30px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  

}

.equipo{
  margin: 10px;
  border-radius: 5%;
  overflow: hidden;
}

.equipo a{
  text-decoration: none;
  color: #000;
}

.equipoimg{
  height: 100px;
  width: 200px;
}

.equipocontainer{
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
}







.sechome {
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
  justify-content: space-around;
}



.contenidoextra{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #cdb190;
  height: 325px;
  width: 300px;
  border-radius: 1%;
  margin-bottom: 10px;
}

.extra2{
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  width: 85%;
  justify-content: space-around;
  align-items: center;
}

.laebb {
  width: 230px;
  height: 230px;
  position: absolute;
  margin-left: 180px;
  margin-bottom: 400px;
}
.estadio {
  width: 100%;
  height: 200px;

  border-bottom-left-radius: 5%;
  border-bottom-right-radius: 5%;
}

.bodyHome {
  margin: 0;
  padding: 0;
}

.header-home {
  display: flex;
  background-color: #fff;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  font-family: var(--fuente_header);
  font-size:20px;
  font-weight: bold;
  
 
}

.navbar-home{
  background-color: #ac224e;
  top: 0;
  z-index: 1000;
}

.navbar-home ul{
display:flex;
flex-direction: row;
justify-content:space-around;
padding:15px;
list-style:none;
flex-wrap: wrap;

}

.navbar-home ul li a{
  text-decoration: none;
  font-family: var(--fuente_titulos);
  color:#fff;
  font-weight:bold;
}
.header-home img{
  width: 140px;
  height: 90px;
  padding: 10px;
  margin-left: 20px;
 
}
.navbar-home ul li a:hover{
  color: rgb(79, 15, 15);
}

.header-home h1 {
  font-size: 10px;
  font-family:var(fuente_titulos) ;
  font-weight: bold;
  color: #ac224e;
  margin-right: 20px;
  text-decoration: none;
  text-decoration-line: none;
  text-decoration-color: #7f1947;
}

.new a {
  text-decoration: none;
  text-decoration-line: none;
  text-decoration-color: #7f1947;

}
.contenedor-cursos{
  width : 100%;
 display:grid;
 grid-template-columns: repeat(5, 1fr);
  grid-gap: 20px;
  margin-top: 0px;
}
.subtitulos{
  font-family: var(fuente_titulos);
  text-align: center;
  font-size: 30px;
  margin: 20px;
  color: #fFF;
}

.curso {
  grid-column: 2/5;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #ffffff;
  margin-bottom: 20px;
  border-radius: 10px;
  padding: 20px;
  margin-top: 50px;
 
}
.curso img {
  width: 300px;
  height: 250px;
  border-radius: 10px;
}
.footer-home .card-f img{
  width: 150px;
  height: 150px;
}
.curso-content {
  width: 100%;
  
  padding: 20px;
 
}

.curso-content h3 {
margin:auto;
font-size: 30px;
font-family: var(fuente_titulos);
font-weight: bold;
color: #000;
margin-bottom: 20px;
}
.curso-content p {
  text-align: justify;
  font-size: 20px;
  font-family: var(--fuente_body);
  margin-bottom: 10px;
}
.curso-content span
{
  display: flex;
  justify-content: center;
  align-items: center;
}
.curso-content span a{
  text-align: center;
  text-decoration: none;
  font-family: var(--fuente_body);
  color: #000;
  font-size: 20px;
  font-weight: bold;
  background-color: #7f1947;
  width: 240px;
  height: 60px;
  padding: 10px;
  border-radius: 10px;
}

.curso-content span a:hover{
  background-color: #FD6773;
  color: #fff;
  cursor: pointer;

 }
 .footer-home{
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-around;

 }
 .card-f{
  margin: 10px;
  padding: 10px;
  text-align: center;
}
.card-f a{
  text-decoration: none;
}
.card-f a h2 {
 
  font-size: 30px;
  font-weight: bold;
  color: #000;
 }


/*Login Styles*/
.bodyLogin {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.login-box {
  margin-top: 7%;
  width: 370px;
  height: 450px;
  background: #000;
  color: #fff;
  font-family: var(--fuente_formularios);
  display: flex;
  flex-direction: column;
  padding: 30px 30px;
  border-radius: 10px;
  justify-content: flex-end;
  align-items: center;
}

.avatar {

  width: 140px;
  height: 140px;
  margin-bottom: 20px;
}



.login-box label {
  margin: 0;
  padding: 0;
  font-weight: bold;
  display: block;
}

.login-box input {
  width: 100%;
  margin-bottom: 20px;
}

.login-box input[type="text"], .login-box input[type="password"] {
  border: none;
  border-bottom: 1px solid #fff;
  background: transparent;
  outline: none;
  height: 40px;
  color: #fff;
  font-size: 16px;
}

.login-box input[type="submit"] {
  border: none;
  outline: none;
  height: 40px;
  background: #FD6773;
  color: #fff;
  font-size: 18px;
  border-radius: 20px;
}

.login-box input[type="submit"]:hover {
  cursor: pointer;
  background: #13E29D;
  color: #000;
}

.login-box a {
  text-decoration: none;
  font-size: 12px;
  line-height: 20px;
  color: darkgrey;
}

.login-box a:hover {
  color: #fff;
}


/*Pagina de registrarse*/

.bodyregister {
  margin: 0;
  padding: 0;
  
}

.register-box {
  width: 420px;
  height: 620px;
  background: #000;
  color: #fff;
  font-family: var(--fuente_formularios);
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  padding: 70px 30px;
  border-radius: 20px;
  margin-top: 40px;
  padding-bottom: 40px;
  overflow: hidden;
  
  display: flex;
  flex-direction: column;
  align-items: center;

}

.register-box h1 {
  margin: 0;
  padding: 0 0 20px;
  text-align: center;
  font-family: var(--fuente_Header);
  font-size: 22px;
}

.register-box label {
  margin: 0;
  padding: 0;
  font-weight: bold;
  display: block;
}

.register-box input {
  width: 100%;
  margin-bottom: 20px;
}

.register-box input[type="text"], .register-box input[type="password"] {
  border: none;
  border-bottom: 1px solid #fff;
  background: transparent;
  outline: none;
  height: 40px;
  color: #fff;
  font-size: 16px;
}

.register-box input[type="submit"] {
  border: none;
  outline: none;
  height: 40px;
  background: #FD6773;
  color: #fff;
  font-size: 18px;
  border-radius: 20px;
}

.register-box input[type="submit"]:hover {
  cursor: pointer;
  background: #13E29D;
  color: #000;
}

.register-box a {
  text-decoration: none;
  font-size: 12px;
  line-height: 20px;
  color: darkgrey;
}

.register-box a:hover {
  color: #fff;
}


@media only screen and (max-width: 600px) {
  /*.navbar-home{
    background-color: #ffffff;
    top: 0;
    
  }*/
  
}

